@use "global/variables";
@use "global/mixins";

.advantage {

  background-color: variables.$background-color-secondary;
  box-sizing: border-box;

  &--city {
    padding: 33px 18px 40px;
  }

  &--bridge {
    padding: 37px 18px;
  }

  &--briefly {
    padding: 24px 0;
    background-color: variables.$background-color-tertiary;

    @media (max-width: variables.$mobile-width-only) {
      &::after {
        content: "";
        position: absolute;
        margin: 18px;
        width: 284px;
        border-bottom: 1px solid #d6d6d6;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }

  &--briefly br {
    @media (max-width: variables.$mobile-width-only) {
      display: none;
    }
  }

  @media (min-width: variables.$tablet-width) {
    width: 256px;
    padding: 52px 33px 31px;
    box-sizing: border-box;

    &--briefly {
      height: 256px;
      padding: 41px 33px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    width: 400px;
    padding: 52px 50px 51px;

    &--briefly {
      padding: 63px 25px 41px;
    }

    &--city {
      padding: 52px 60px 51px;
    }

    &--bridge {
      padding: 52px 85px 51px;
    }
  }
}

.advantage__title {
  margin-bottom: 11px;
  /* stylelint-disable-next-line at-rule-empty-line-before */
  @include mixins.title-small(variables.$title-color-secondary);
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    @include mixins.title(variables.$title-color-secondary);
  }

  &--briefly {
    color: variables.$title-color-primery;
  }
}

.advantage__title br {
  @media (max-width: variables.$mobile-width-only) {
    display: none;
  }
}

.advantage__number {
  margin-bottom: 17px;
  /* stylelint-disable-next-line at-rule-empty-line-before */
  @include mixins.text(variables.$text-color-secondary);
  text-align: center;

  &--briefly {
    color: variables.$text-color-primery;
  }
}

.advantage__description {
  @include mixins.text(variables.$text-color-secondary);
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    @include mixins.text(variables.$text-color-secondary);
  }

  &--briefly {
    padding: 0 32px;
    color: variables.$text-color-primery;
  }
}

.advantage__image {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: variables.$tablet-width) {
    width: 512px;
    position: static;
    transform: none;
  }

  @media (min-width: variables.$desktop-width) {
    width: 800px;
  }
}

.advantage__recomendations {
  margin: 0;
  padding: 23px 18px 46px 65px;
  list-style: none;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}
