@use "global/variables";
@use "global/mixins";

.advantage {
  background-color: variables.$background-color-secondary;

  @media (min-width: variables.$tablet-width) {
    width: 256px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 400px;
  }

  &--city {
    padding: 54px 18px 38px;

    @media (min-width: variables.$tablet-width) {
      padding: 52px 30px 31px;
    }

    @media (min-width: variables.$desktop-width) {
      padding: 52px 60px 53px;
    }
  }

  &--bridge {
    padding: 37px 18px;

    @media (min-width: variables.$tablet-width) {
      padding: 52px 30px 31px;
    }

    @media (min-width: variables.$desktop-width) {
      padding: 52px 85px;
    }
  }

  &--briefly {
    position: relative;
    padding: 25px 32px;
    background-color: variables.$background-color-tertiary;

    .advantage__title {
      color: variables.$title-color-primery;
    }

    .advantage__number {
      color: variables.$text-color-primery;
    }

    .advantage__description {
      color: variables.$text-color-primery;
    }

    @media (max-width: variables.$mobile-width-only) {
      &::after {
        content: "";
        position: absolute;
        bottom: -16px;
        left: 0;
        margin: 18px;
        width: 284px;
        border-bottom: 1px solid #d6d6d6;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }

      br {
        @media (max-width: variables.$mobile-width-only) {
          display: none;
        }
      }
    }

    @media (min-width: variables.$tablet-width) {
      min-height: 256px;
      padding: 53px 30px 31px;

      &:nth-child(odd) {
        padding-top: 42px;
      }
    }

    @media (min-width: variables.$desktop-width) {
      padding: 62px 55px 41px;

      &:nth-child(odd) {
        padding-top: 52px;
      }
    }
  }
}

.advantage__title {
  margin: 0 0 11px 0;
  /* stylelint-disable-next-line at-rule-empty-line-before */
  @include mixins.title-small(variables.$title-color-secondary);
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 14px;
    /* stylelint-disable-next-line at-rule-empty-line-before */
    @include mixins.title(variables.$title-color-secondary);
  }
}

.advantage__title br {
  @media (max-width: variables.$mobile-width-only) {
    display: none;
  }
}

.advantage__number {
  margin: 0 0 17px 0;
  /* stylelint-disable-next-line at-rule-empty-line-before */
  @include mixins.text(variables.$text-color-secondary);
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    margin: 0 0 23px 0;
  }
}

.advantage__description {
  margin: 0;
  /* stylelint-disable-next-line at-rule-empty-line-before */
  @include mixins.text(variables.$text-color-secondary);
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    @include mixins.text(variables.$text-color-secondary);
  }
}

.advantage__image {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: variables.$tablet-width) {
    width: 512px;
    height: auto;
    position: static;
    transform: none;
  }

  @media (min-width: variables.$desktop-width) {
    width: 800px;
  }
}

.advantage__recomendations {
  margin: 0;
  padding: 25px 18px 45px 65px;
  list-style: none;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}
