@use "global/variables";

.advantages {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;

    &:nth-child(2) {
      flex-direction: row;
    }
  }

  &--briefly {
    @media (min-width: variables.$tablet-width) {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }
}
