@use "global/variables";

.advantages {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: variables.$desktop-width) {

  }
}

.advantages__item {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: variables.$desktop-width) {

  }
}

