@use "global/variables";
@use "global/mixins";

.copyright__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  /* stylelint-disable-next-line at-rule-empty-line-before */
  @include mixins.text(variables.$title-color-primery);

  &:hover {
    color: variables.$title-color-hover;
  }

  &:active {
    color: variables.$title-color-active;
  }
}

.copyright__icon {
  margin-left: 12px;
}

