@use "global/variables";

.feedback-form {
  padding: 0 20px 24px;

  @media (min-width: variables.$tablet-width) {
    padding: 0 60px 64px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 120px 56px;
  }
}

.feedback-form__item {
  position: relative;
  padding: 26px 0 23px;

  @media (max-width: variables.$mobile-width-only) {
    &:not(:last-child) {
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: -20px;
        width: 320px;
        height: 1px;
        background-color: #e5e5e5;
      }
    }
  }

  &--column {
    @media (min-width: variables.$tablet-width) {
      &:first-child::after {
        position: absolute;
        content: "";
        width: 1px;
        height: calc(100% - 47px);
        top: 0;
        right: 0;
        background-color: #dbdbdb;
      }
    }
  }

  &--row {
    @media (min-width: variables.$tablet-width) {
      width: 100%;
      padding: 0 0 47px;

      .form-block__title {
        padding: 0 132px 29px;

        &::before {
          position: absolute;
          content: "";
          width: 123px;
          height: 1px;
          top: calc((100% - 28px) / 2);
          left: 0;
          background-color: #dbdbdb;
        }

        &::after {
          position: absolute;
          content: "";
          width: 123px;
          height: 1px;
          top: calc((100% - 28px) / 2);
          right: 0;
          background-color: #dbdbdb;
        }
      }
    }

    @media (min-width: variables.$desktop-width) {
      width: 960px;
      padding-bottom: 48px;

      & .form-block__title {
        padding: 0 290px 45px;

        &::before,
        &::after {
          width: 280px;
          top: calc((100% - 45px) / 2);
        }
      }
    }
  }

  &--name {
    padding: 25px 0 40px;

    @media (min-width: variables.$tablet-width) {
      width: 325px;
      padding: 0 0 62px;
    }

    @media (min-width: variables.$desktop-width) {
      width: 494px;
      padding-bottom: 71px;
    }
  }

  &--contacts {
    padding: 24px 0 34px;

    @media (min-width: variables.$tablet-width) {
      width: 316px;
      padding: 0 0 62px;
    }

    @media (min-width: variables.$desktop-width) {
      width: 466px;
      padding-bottom: 71px;
    }
  }

  &--impression {
    @media (min-width: variables.$tablet-width) {
      padding: 0 0 48px;
    }

    @media (min-width: variables.$desktop-width) {
      padding: 0 0 57px;
    }
  }

  &--attractions {
    @media (min-width: variables.$tablet-width) {
      padding: 0 0 26px;
    }

    @media (min-width: variables.$desktop-width) {
      padding: 0 0 70px;
    }
  }
}

.feedback-form__button-container {
  padding: 32px 0 24px;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  @media (min-width: variables.$desktop-width) {
    width: 768px;
    margin: 0 auto;
  }
}

.feedback-form__button {
  @media (min-width: variables.$tablet-width) {
    width: 324px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 384px;
  }
}

.feedback-form__footnote {
  margin: 3px 0 0;
  color: variables.$text-color-primery;
  opacity: 0.6;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: right;

  @media (min-width: variables.$tablet-width) {
    margin: 8px 0 0;
    font-size: 14px;
    opacity: 1;
  }
}
