@use "global/variables";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 0 23px;

  @media (min-width: variables.$tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 60px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 44px 119px 40px 120px;
  }

  &--index {
    padding: 37px 0 23px;

    @media (min-width: variables.$tablet-width) {
      padding: 37px 76px 37px 60px;

      .footer__social {
        margin-right: 0;
      }
    }

    @media (min-width: variables.$desktop-width) {
      padding: 37px 135px 37px 120px;
    }
  }

  &--form {
    padding: 4px 0 23px;

    @media (min-width: variables.$tablet-width) {
      padding: 36px 60px 30px;
    }

    @media (min-width: variables.$desktop-width) {
      padding: 44px 120px 40px;
    }
  }
}

.footer__tag {
  margin: 0 0 34px 0;

  @media (min-width: variables.$tablet-width) {
    margin: 0;
    margin-right: 12px;
  }
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  min-width: 156px;
  list-style: none;
  gap: 12px 6px;
}
