@use "global/variables";

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;

  &--radio {
    padding: 10px 0;

    @media (min-width: variables.$tablet-width) {
      flex-direction: row;
      width: 280px;
    }
  }

  &--checkbox {
    padding: 10px 0;

    @media (min-width: variables.$tablet-width) {
      flex-direction: row;
      width: 224px;
    }

    @media (min-width: variables.$desktop-width) {
      width: auto;
    }
  }

  &:hover .input__mark {
    background-color: variables.$background-color-input-hover;
  }

  &:active .input__mark {
    background-color: variables.$background-color-input-active;
  }

  &:active .input__mark::after {
    opacity: 0.3;
  }
}

.form-field__title {
  padding-left: 16px;

  &--hidden {
    padding-left: 0;
  }
}

.form-field__control {
  position: relative;

  &--with-icon {
    &::before {
      position: absolute;
      content: "";
      right: 0;
      width: 58px;
      height: 58px;
      background-color: #e6e6e6;
    }
  }

  &--phone {
    &::after {
      position: absolute;
      content: "";
      right: 20px;
      top: 20px;
      width: 18px;
      height: 18px;
      background: url("/img/sprite.svg#icon-phone") no-repeat center;
    }
  }

  &--email {
    &::after {
      position: absolute;
      content: "";
      right: 21px;
      top: 23px;
      width: 16px;
      height: 12px;
      background: url("/img/sprite.svg#icon-mail") no-repeat center;
    }
  }

  &:checked + .form-field__mark--checkbox::after {
    position: absolute;
    content: "";
    top: 15px;
    left: 12px;
    width: 22px;
    height: 16px;
    background: url("/img/sprite.svg#icon-tick") no-repeat center;
  }

  &:checked + .form-field__mark--radio::after {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #333333;
    content: "";
  }

  &:focus-visible + .form-field__mark {
    background-color: variables.$background-color-input-active;
  }

  &:disabled + .form-field__mark {
    background-color: variables.$background-color-input-active;

    &--radio::after {
      background-color: rgba(51, 51, 51, 0.3);
    }

    &--checkbox::after {
      opacity: 0.3;
    }
  }
}

.form-field__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: variables.$background-color-input;

  &--radio {
    border-radius: 50%;
  }

  &:hover {
    background-color: variables.$background-color-input-hover;
  }
}

.form-field__label {
  padding-left: 44px;
  color: variables.$title-color-primery;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}
