@use "global/variables";

.form-block {
  padding: 24px 0 39px;
  border: none;
}

.form-block__title {
  margin-bottom: 20px;
  color: variables.$title-color-primery;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.form-block__fields {
  color: variables.$text-color-primery;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: left;
}
