@use "global/variables";
@use "global/mixins";

.form-block {
  margin: 0;
  padding: 0;
  border: none;
}

.form-block__title {
  position: relative;
  width: 100%;
  padding-bottom: 20px;
  /* stylelint-disable-next-line at-rule-empty-line-before */
  @include mixins.title-small();
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    @include mixins.title();
    padding-bottom: 28px;
  }
}

.form-block__fields {
  margin: 0;
  padding: 0;
  /* stylelint-disable-next-line at-rule-empty-line-before */
  @include mixins.text();
  text-align: left;
}
