@use "global/variables";

.form-field {
  display: flex;
  flex-direction: column;

  &--radio {
    @media (min-width: variables.$tablet-width) {
      width: 280px;
      margin-right: 16px;
      margin-bottom: 16px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @media (min-width: variables.$desktop-width) {
      margin-right: 28px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &--checkbox {
    @media (min-width: variables.$tablet-width) {
      width: 224px;
      margin-right: 32px;
      margin-bottom: 16px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @media (min-width: variables.$desktop-width) {
      width: auto;
      margin-right: 64px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.form-field__title {
  padding-left: 16px;
}

.form-field__control {

}
