@use "global/variables";

.form-fields {
  list-style: none;

  &--radios {
    @media (min-width: variables.$tablet-width) {
      display: flex;
      flex-wrap: wrap;
      max-width: 576px;
      margin-left: auto;
      margin-right: auto;
      gap: 16px;
    }

    @media (min-width: variables.$desktop-width) {
      max-width: 960px;
      gap: 28px;
    }
  }

  &--checkboxs {
    @media (min-width: variables.$tablet-width) {
      display: flex;
      flex-wrap: wrap;
      max-width: 480px;
      margin-left: auto;
      margin-right: auto;
      gap: 32px 16px;
    }

    @media (min-width: variables.$desktop-width) {
      max-width: 960px;
      gap: 32px 64px;
    }
  }
}

.form-fields__item {
  width: 280px;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: variables.$desktop-width) {
    width: 430px;

    &--contacts {
      width: 402px;
    }
  }
}
