@use "global/variables";

.header {
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative; */
  background-color: variables.$background-color-primery;

  @media (min-width: variables.$tablet-width) {
    width: variables.$tablet-width;
    margin: 0 auto;
  }

  @media (min-width: variables.$desktop-width) {
    width: variables.$desktop-width;
  }
}

