@use "global/variables";

.hero__container {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 52px 0 67px;
  background-color: variables.$background-color-secondary;
  background-image: url("/img/background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom;

  @media (min-resolution: 2dppx) {
    background-image: url("/img/background-mobile@2x.jpg");
    background-size: 320px auto;
  }

  &--index {
    padding: 84px 0;
    background-position: center;
  }

  &::after {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/img/hero-triangle.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    content: "";
  }

  @media (min-width: variables.$tablet-width) {
    background-image: url("/img/background-tablet.jpg");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/background-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  @media (min-width: variables.$desktop-width) {
    background-image: url("/img/background-desktop.jpg");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/background-desktop@2x.jpg");
      background-size: 1200px auto;
    }
  }
}

.hero__image {
  @media (min-width: variables.$tablet-width) {
    width: 461px;
    height: 350px;
  }
}

.hero__description {
  padding: 37px 20px 25px;

  &--index {
    position: relative;
    padding: 32px 24px 25px;

    @media (max-width: variables.$mobile-width-only) {
      &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("/img/triangle.svg");
        background-repeat: no-repeat;
        background-position: bottom;
        left: 50%;
        transform: translateX(-50%);
        bottom: -20px;
        content: "";
      }
    }
  }

  @media (min-width: variables.$tablet-width) {
    padding: 48px 124px 67px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 59px 357px 65px;
  }
}
