@use "global/variables";
@use "global/mixins";

.hero-description {

}

.hero-description__title {
  margin-bottom: 35px;
  @include mixins.title-small();
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    @include mixins.title-big();
  }

  &--index {

    @media (min-width: variables.$tablet-width) {
      @include mixins.title();
    }
  }
}

.hero-description__text {
  @include mixins.text();
  text-align: center;
}
