@use "global/variables";

.hero__container {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 52px 0 67px;
  background-color: variables.$background-color-secondary;
  background-image: url("/img/background_x1.jpg");
  background-repeat: no-repeat;
  background-position: bottom;

  &--index {
    padding: 90px 0;
    background-position: center;
    background-size: cover;
  }

  &::after {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/img/hero-triangle.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    content: "";
  }
}

.hero__image {
  @media (min-width: variables.$tablet-width) {
    width: 461px;
    height: 350px;
  }
}

.hero__description {
  padding: 37px 20px 25px;

  &--index {
    padding: 32px 24px 25px;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 48px 124px 67px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 59px 357px 65px;
  }
}
