@use "global/variables";
@use "global/mixins";

.hook {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 28px 50px;

  @media (min-width: variables.$tablet-width) {
    padding: 62px 166px 58px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 60px 260px 66px;
  }
}

.hook__title {
  margin: 0 0 22px 0;
  /* stylelint-disable-next-line at-rule-empty-line-before */
  @include mixins.title();
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 32px;
    /* stylelint-disable-next-line at-rule-empty-line-before */
    @include mixins.title-big();
  }
}

.hook__text {
  margin: 0 0 31px 0;
  /* stylelint-disable-next-line at-rule-empty-line-before */
  @include mixins.text();
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 46px;
  }
}

.hook__text br {
  @media (max-width: variables.$mobile-width-only) {
    display: none;
  }
}

.hook__find-hotel-button {
  width: 284px;

  @media (min-width: variables.$tablet-width) {
    width: 458px;
  }
}
