@use "global/variables";
@use "global/mixins";

.hook {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 29px 49px;

  @media (min-width: variables.$tablet-width) {
    padding: 61px 166px 58px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 61px 382px 66px;
  }
}

.hook__title {
  margin-bottom: 25px;
  @include mixins.title();
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 30px;
    @include mixins.title-big();
  }
}

.hook__text {
  margin-bottom: 32px;
  @include mixins.text();
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 45px;
  }
}

.hook__text br {
  @media (max-width: variables.$mobile-width-only) {
    display: none;
  }
}

.hook__find-hotel-button {
  width: 284px;

  @media (min-width: variables.$tablet-width) {
    width: 458px;
  }
}
