@use "global/variables";

.modal-success {
  @media (min-width: variables.$tablet-width) {
    width: 640px;
  }
}

.modal-success__button {
  width: 280px;

  @media (min-width: variables.$tablet-width) {
    width: 458px;
  }
}
