@use "global/variables";

.modal-error {
  padding: 45px 41px 35px;

  @media (min-width: variables.$tablet-width) {
    width: 400px;
    padding: 50px 47px 49px 46px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 48px 47px 49px 46px;
  }
}

.modal-error__button {
  width: 180px;
  margin-bottom: 35px;

  @media (min-width: variables.$tablet-width) {
    width: 272px;
  }
}
