@use "global/variables";
@use "global/mixins";

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: auto;
  background-color: variables.$background-color-primery;
  box-shadow: 0 7px 15px 0 rgb(0 1 1 / 15%);

  &--error {
    margin: 116px auto auto;
    padding: 45px 41px 35px;

    @media (min-width: variables.$tablet-width) {
      width: 400px;
      margin: 283px auto auto;
      padding: 48px 47px 49px 46px;
    }

    @media (min-width: variables.$desktop-width) {
      margin: 244px auto auto;
      padding: 47px 47px 49px 46px;
    }
  }

  &--success {
    margin: 402px auto auto;

    @media (min-width: variables.$tablet-width) {
      width: 640px;
      margin: 162px auto auto;
    }

    @media (min-width: variables.$desktop-width) {
      margin: 145px auto auto;
    }
  }
}

.modal__content {
  background-color: variables.$background-color-primery;

  &--error {
    padding-bottom: 28px;

    @media (min-width: variables.$tablet-width) {
      padding-bottom: 47px;
    }
  }

  &--success {
    padding: 39px 39px 51px 37px;

    @media (min-width: variables.$tablet-width) {
      padding: 45px 99px 52px 98px;
    }

    @media (min-width: variables.$desktop-width) {
      padding: 42px 99px 52px 97px;
    }
  }
}

.modal__title {
  margin: 0 0 25px 0;
  /* stylelint-disable-next-line at-rule-empty-line-before */
  @include mixins.title-small();
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    margin: 0 0 23px 0;
    font-size: 30px;
    line-height: 40px;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 25px 0;
  }
}

.modal__text {
  margin: 0;
  /* stylelint-disable-next-line at-rule-empty-line-before */
  @include mixins.text();
  text-align: center;
}

.modal__button-container {
  width: 100%;
  padding: 20px;
  background-color: variables.$background-color-input;

  @media (min-width: variables.$tablet-width) {
    padding: 45px 91px 43px;
  }
}

.modal__button {
  &--error {
    width: 180px;

    @media (min-width: variables.$tablet-width) {
      width: 272px;
    }
  }

  &--success {
    width: 100%;
    font-size: 18px;

    @media (min-width: variables.$tablet-width) {
      width: 458px;
      font-size: 21px;
    }
  }
}
