@use "global/variables";
@use "global/mixins";

.presentation {
  display: flex;
  flex-direction: column;
  padding: 17px 20px 0;

  @media (min-width: variables.$tablet-width) {
    padding: 58px 60px 40px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 62px 200px 60px;
  }
}

.presentation__title {
  @include mixins.title();
  text-align: center;
}

.presentation__text {
  padding: 40px 7px 38px;
  /* stylelint-disable-next-line at-rule-empty-line-before */
  @include mixins.text();
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    padding: 40px 101px 86px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 40px 177px 84px;
  }
}
