@use "global/variables";
@use "global/mixins";

.presentation {
  display: flex;
  flex-direction: column;
  padding: 17px 20px 0;

  @media (min-width: variables.$tablet-width) {
    padding: 57px 60px 40px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 61px 200px 77px;
  }
}

.presentation__title {
  margin: 0;
  /* stylelint-disable-next-line at-rule-empty-line-before */
  @include mixins.title-small();
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    @include mixins.title-big();
  }
}

.presentation__text {
  margin: 0;
  padding: 28px 10px 38px;
  /* stylelint-disable-next-line at-rule-empty-line-before */
  @include mixins.text();
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    padding: 31px 101px 90px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 31px 170px 86px;
  }
}
