@use "global/variables";

.recomendations {

  background-color: variables.$background-color-primery;

}

.recomendations__item {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }

  &--house {

  }

  &--food {

  }

  &--gift {

  }
}

.recomendations__title {
  margin-bottom: 16px;
  color: variables.$title-color-primery;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: left;
}

.recomendations__text {
  color: variables.$text-color-primery;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: left;
}
