@use "global/variables";

.recomendations {
  background-color: variables.$background-color-primery;
}

.recomendations__item {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 256px;
    margin: 0;
    padding: 60px 33px;
    box-sizing: border-box;
  }

  @media (min-width: variables.$desktop-width) {
    width: 400px;
    padding: 69px 55px;
  }
}
