@use "global/variables";
@use "global/mixins";

.recomendation {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 38px;
    background-color: transparent;
    top: 0;
    left: -47px;
  }

  @media (min-width: variables.$tablet-width) {
    width: 190px;
    box-sizing: border-box;

    &::before {
      top: -1px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-width: variables.$desktop-width) {
    width: 300px;
  }

  &--house {
    &::before {
      background-image: url("/img/sprite.svg#icon-house");
      background-repeat: no-repeat;
      background-position: center;
    }

    @media (min-width: variables.$tablet-width) {
      padding-top: 72px + 26px;

      &::before {
        width: 77px;
        height: 72px;
      }
    }

    @media (min-width: variables.$desktop-width) {
      padding-top: 72px + 28px;

      &::before {
        width: 79px;
        height: 72px;
      }
    }
  }

  &--food {
    &::before {
      background-image: url("/img/sprite.svg#icon-burger");
      background-repeat: no-repeat;
      background-position: center;
    }

    @media (min-width: variables.$tablet-width) {
      padding-top: 68px + 26px;

      &::before {
        width: 80px;
        height: 68px;
      }
    }

    @media (min-width: variables.$desktop-width) {
      padding-top: 69px + 25px;

      &::before {
        width: 73px;
        height: 69px;
      }
    }
  }

  &--gift {
    &::before {
      background-image: url("/img/sprite.svg#icon-gift");
      background-repeat: no-repeat;
      background-position: center;
    }

    @media (min-width: variables.$tablet-width) {
      padding-top: 75px + 14px;

      &::before {
        width: 66px;
        height: 75px;
      }
    }

    @media (min-width: variables.$desktop-width) {
      padding-top: 75px + 26px;

      &::before {
        width: 77px;
        height: 75px;
      }
    }
  }
}

.recomendation br {
  @media (max-width: variables.$mobile-width-only) {
    display: none;
  }
}

.recomendation__title {
  margin: 0;
  padding-top: 8px;
  /* stylelint-disable-next-line at-rule-empty-line-before */
  @include mixins.title-small();
  text-align: left;

  @media (min-width: variables.$tablet-width) {
    padding-top: 0;
    /* stylelint-disable-next-line at-rule-empty-line-before */
    @include mixins.title();
    text-align: center;
  }
}

.recomendation__text {
  margin: 0;
  padding-top: 16px;
  /* stylelint-disable-next-line at-rule-empty-line-before */
  @include mixins.text();
  text-align: left;

  @media (min-width: variables.$tablet-width) {
    padding-top: 23px;
    text-align: center;
  }
}
