@use "global/variables";
@use "global/mixins";

.site-navigation {
  position: relative;
  width: 100%;
  min-height: 56px;
  background-color: variables.$background-color-primery;

  &--closed .site-navigation__toggle {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 23px;
      height: 4px;
      background-color: variables.$background-color-secondary;
      box-shadow: 0 9px 0 0 variables.$background-color-secondary, 0 18px 0 0 variables.$background-color-secondary;
    }

    &:hover::before {
      background-color: rgba(variables.$background-color-secondary, 0.6);
      box-shadow:
        0 9px 0 0 rgba(variables.$background-color-secondary, 0.6),
        0 18px 0 0 rgba(variables.$background-color-secondary, 0.6);
    }

    &:active::before {
      background-color: rgba(variables.$background-color-secondary, 0.3);
      box-shadow:
        0 9px 0 0 rgba(variables.$background-color-secondary, 0.3),
        0 18px 0 0 rgba(variables.$background-color-secondary, 0.3);
    }
  }

  &--opened .site-navigation__toggle {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 9px;
      right: -2px;
      width: 27px;
      height: 4px;
      background-color: variables.$background-color-primery;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after {
      background-color: rgba(variables.$background-color-primery, 0.6);
    }

    &:active::before,
    &:active::after {
      background-color: rgba(variables.$background-color-primery, 0.3);
    }
  }

  @media (max-width: variables.$mobile-width-only) {
    &--closed .site-navigation__container {
      display: none;
    }

    &--opened .site-navigation__container {
      display: block;
    }

    &--nojs .site-navigation__toggle {
      display: none;
    }

    &--nojs .site-navigation__container {
      position: static;
      min-height: 0;
    }

    &--nojs .site-navigation__logo {
      display: none;
    }
  }
}

.site-navigation__logo {
  position: absolute;
  width: 185px;
  height: 96px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.site-navigation__toggle {
  position: absolute;
  width: 23px;
  height: 22px;
  right: 20px;
  top: 17px;
  z-index: 2;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}

.site-navigation__container {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.site-navigation__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 3px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-left: 0;
  }
}

.site-navigation__item {
  padding: 17px 20px 12px;
  background-color: variables.$background-color-secondary;
  text-align: center;
  border-top: 1px solid rgba(#ffffff, 20%);
  border-bottom: 1px solid rgba(#010101, 20%);

  &:last-child::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    z-index: 2;
  }

  &:hover {
    background-color: variables.$background-color-hover;
  }

  &:active {
    background-color: variables.$background-color-active;
  }

  @media (min-width: variables.$tablet-width) {
    width: 153px;
    padding: 18px 20px 17px;
    background-color: transparent;
    border: none;

    &:last-child::after {
      display: none;
    }

    &:hover,
    &:active {
      background-color: transparent;
    }
  }

  @media (min-width: variables.$desktop-width) {
    width: 240px;
    padding: 18px 40px 17px;
  }

  &--first {
    border-top: none;
  }

  &--empty {
    display: none;

    @media (min-width: variables.$tablet-width) {
      display: block;
    }
  }
}

.site-navigation__item a[href] {
  @media (max-width: variables.$mobile-width-only) {
    &:active {
      color: rgb(variables.$title-color-secondary, 0.3);
    }
  }
}

.site-navigation__link {
  @include mixins.title-small(variables.$title-color-secondary);
  text-decoration: none;

  @media (min-width: variables.$tablet-width) {
    @include mixins.text(variables.$title-color-primery);

    &:hover {
      color: variables.$title-color-hover;
    }

    &:active {
      color: variables.$title-color-active;
    }
  }

  &--current {
    @media (min-width: variables.$tablet-width) {
      color: variables.$title-color-tertiary;
    }
  }
}
