@use "global/variables";

.button {
  padding: 16px 49px;
  color: variables.$title-color-secondary;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: none;

  &--primary {
    background-color: variables.$background-color-secondary;
  }
}

