@use "global/variables";

.button {
  padding: 16px 49px;
  color: variables.$title-color-secondary;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: none;
  box-sizing: border-box;

  &--primary {
    background-color: variables.$background-color-secondary;

    &:hover {
      background-color: variables.$background-color-hover;
    }

    &:active {
      background-color: variables.$background-color-active;
      color: rgba(255, 255, 255, 0.3);
    }

    &:disabled {
      background-color: #e5e5e5;
      color: #ffffff;
    }
  }
}

