body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

input {
  font-family: inherit;
}

h1, h2, h3, h4, p {
  margin: 0;
}
