@use "global/variables";

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin title($c: variables.$title-color-primery) {
  color: $c;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

@mixin title-small($c: variables.$title-color-primery) {
  color: $c;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

@mixin title-big($c: variables.$title-color-primery) {
  color: $c;
  font-weight: 700;
  font-size: 30px;
  line-height: 26px;
  text-transform: uppercase;
}

@mixin text($c: variables.$text-color-primery) {
  color: $c;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

/* .class {
  @include flex(column);
}

@mixin button($size: 'sm') {
  @if $size = 'sm' {
    ...
  }
} */
