@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin flex($a: row) {
  display: flex;
  flex-direction: $a;
  justify-content: center;
}

/* .class {
  @include flex(column);
}

@mixin button($size: 'sm') {
  @if $size = 'sm' {
    ...
  }
} */
